.main{
  height: 60vw;
  background-color: hsl(0, 0%, 6%);
  margin-top: 100vh;
  margin-bottom: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    height: 100%;
  }
}
